doctype html
html(lang='en', ng-app='chart')
  head
    title 
    link(rel='shortcut icon', href='css/images/?.ico', type='image/x-icon')
    //style
    link(rel='stylesheet', href='libraries/font-awesome/css/font-awesome.min.css')
    link(rel='stylesheet', type='text/css', href='libraries/bootstrap/dist/css/bootstrap.min.css')
    link(rel='stylesheet', href='css/typeahead.css')
    link(rel='stylesheet', href='css/main.css')
    link(rel='stylesheet', href='css/tag.css')
    //- link(rel='stylesheet',href='libraries/jquery-ui/themes/base/jquery-ui.min.css')     
    // libraries 
    script(src="libraries/echarts/build/dist/echarts.js")
    script(src='libraries/jquery/jquery.min.js')
    script(src="versioned/jquery-ui.min.js")
    //- script(src='libraries/string/lib/string.min.js')
    script(src='libraries/underscore/underscore-min.js')
    script(src="libraries/typeahead.js/dist/typeahead.bundle.min.js")
    //- script(src="libraries/d3/d3.min.js")
    script(src='libraries/angular/angular.min.js')     
    //- script(src='versioned/ui-bootstrap-tpls-0.12.0.min.js')
    //- script(src='scripts/services.js')
    
    //- script(src='scripts/controllers.js')   
  body(ng-controller='expand')
    div.btns
        a.btn(ng-click="switchTo('byAssay')" ng-class="{'expanded':current=='byAssay'}") By Assay
        a.btn(ng-click="switchTo('byCenter')" ng-class="{'expanded':current=='byCenter'}") By Center
        //- a.btn(ng-click="test()") test
    
    div(ng-include="'recur.html'" ng-init="switchTo('byCenter')")

    hr
      

  if dev
    script(src="scripts/main.js")
    script(src='scripts/app.js')
    script(src='scripts/services.js')

    //- script(src="scripts/expandable.js")
  else
    script(src="dist/main.min.js")
