<span name="header" ng-click="item.expanded = !item.expanded" ng-class="{'expanded':item.expanded}" class="list-group-item row"> 
  <div class="title2">{{item.title}} </div>
  <div class="desc">{{descs[item.title]?descs[item.title]:''}} </div>
  <div ng-if="item.img" class="img-container"><img ng-src="css/img/{{item.img.src}}" ng-style="{'height':item.img.height}" class="img"/></div></span>
<ul class="content2 list-group">
  <li ng-repeat="item in item.items" ng-include="'recur.html'" ng-init="signalLast(item)"></li>
</ul>